body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #ffffff;
    text-align: center;
}

#hero {
    padding: 100px 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

@keyframes floatAnimation {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

#welcome {
    font-size: 50px;
    animation: floatAnimation 3s ease-in-out infinite;
}

#particleCanvas {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures the canvas is behind other content */
}

